# Assignment: pandas0 
For this problem set, we'll be using a Jupyter notebook. 

**Few Important Things:**
 - **Save this file as** geo0_emailuser_attempt#_assignment (e.g. geo0_mmann1123_attempt0_pandas0.ipynb)
 - Before submitting make sure to go to Cell > Run All and confirm there are no errors thrown.
 - If you can't figure something out, that is ok, do your best and share it


For more detailed instructions please refer to [https://mmann1123.github.io/GEOG6308/](https://mmann1123.github.io/GEOG6308/)

---
## Part A (1 points)
All submissions for your homework need to have the *proper file names*. Please rename this file using the convension discussed above. For instance if my gwu email is mmann1123@gwu.edu, this file should be renamed `geo0_mmann1123_attempt0_Pandas0.ipynb`.

Please do this now, and remember to complete this step for each assignment.

In [33]:
# """Check for the existance of proper file name"""
from glob import glob

# try:
#assert len(glob('geo0_*_attempt*_Pandas0.ipynb'))==1
 #   except AssertionError:
 #   raise AssertionError("Check your file naming convension")

----------------------------------------------
## Part B (12 points)

For this section we will be using data on health expenditure and life expectancy for a handful of countries. Please fill in your answer were prompted. Ideally your answers should be able to pass all the assertion tests without any errors. Please read the error messages, as they provide clues to what you did wrong.

In [34]:
import pandas as pd

health_exp = pd.read_csv(r'/Users/maryanashnitser/Desktop/42592915.csv')
health_exp.head()
health_exp = health_exp.drop('Unnamed: 0', axis =1)

### B Task 1
Using `.unique()` to get the unique country names from `health_exp` and store them in a variable called `countries`.

In [35]:
# YOUR CODE HERE
countries = health_exp['Country'].unique()

In [36]:
countries

array(['Germany', 'France', 'Great Britain', 'Japan', 'USA', 'Canada'],
      dtype=object)

In [37]:
"""Run the following: you should get no errors"""
import numpy as np

try:
    assert len(countries)==6
except AssertionError:
    raise AssertionError("Check your code countries should only have unique countries")

In [38]:
"""Run the following hidden tests: you should get no errors"""

'Run the following hidden tests: you should get no errors'

In [39]:
"""Run the following: you should get no errors"""
try:
    assert type(countries) == np.ndarray
except AssertionError:
    raise AssertionError("Make sure you are storing the output of .unique() which returns a numpy array ")

In [40]:
"""Run the following hidden tests: you should get no errors"""

'Run the following hidden tests: you should get no errors'

In [41]:
"""Run the following hidden tests: you should get no errors"""

'Run the following hidden tests: you should get no errors'

### B Task 2

Using `.loc`, select the rows where the country is "United States" and the year is 1985. Assign the result to a variable called `us_1985`.

In [42]:

# YOUR CODE HERE
us_1985 = health_exp.loc[((health_exp['Country'] == 'USA') & (health_exp['Year'] == 1985)), ['Year','Country', 'Spending_USD', 'Life_Expectancy']]

In [43]:
us_1985

    Year Country  Spending_USD  Life_Expectancy
68  1985     USA      1735.156             74.7

In [44]:
"""Run the following: you should get no errors"""
try:
    assert (us_1985.shape == (1, 4)) & (type(us_1985) == pd.core.frame.DataFrame)
except AssertionError:
    raise AssertionError("us_1985 should be a dataframe of size 1x4")

In [45]:
"""Run the following hidden tests"""

'Run the following hidden tests'

In [46]:
"""Run the following hidden tests"""

'Run the following hidden tests'

### B Task 3
Create a new column called `USD_year_life` inside the dataframe `health_exp` that is the ratio of dollars spent on health divided by the average life expectancy.

In [47]:
# YOUR CODE HERE
health_exp['USD_year_life'] = health_exp['Spending_USD'] / health_exp['Life_Expectancy']
health_exp['USD_year_life'].head()

0    3.573810
1    2.661260
2    1.724520
3    2.089403
4    4.611580
Name: USD_year_life, dtype: float64

In [48]:
"""Run the following: you should get no errors"""

try:
    assert ('USD_year_life' in health_exp.columns) & (health_exp['USD_year_life'].dtype == float)
except AssertionError:
    raise AssertionError("USD_year_life should be a new column of type float")

In [49]:
"""Run the following hidden tests"""

'Run the following hidden tests'

In [50]:
"""Run the following hidden tests"""

'Run the following hidden tests'

### B Task 4

Calculate the difference between the maximum and minimum values of`'USD_year_life'` - (use the `.max()` and `.min()` methods) - round your answer to two decimal places, and store your answer as variable called `max_cost_difference`.

In [51]:
# YOUR CODE HERE
max_health_exp = round(health_exp['USD_year_life'].max(), 3)
min_health_exp = round(health_exp['USD_year_life'].min(), 3)
max_cost_difference = round((max_health_exp - min_health_exp), 3)
max_cost_difference

152.29

In [52]:
health_exp['USD_year_life'].max()
'''you need to round to the second decimal place and counting starts at zero
so when you put the number at the end of the round fucntion, you are telling it to stop
at that index in the number (aka stop at index 2, not second decimal)'''

'you need to round to the second decimal place and counting starts at zero\nso when you put the number at the end of the round fucntion, you are telling it to stop\nat that index in the number (aka stop at index 2, not second decimal)'

In [53]:
'''Run the following: you should get no errors'''

def count_decimal_places(number):
    if isinstance(number, float):
        decimal_part = str(number).split(".")[1]
        return len(decimal_part)
    else:
        return 0

decimal_places = count_decimal_places(max_cost_difference)
try: 
    assert decimal_places == 2
except AssertionError:
    raise AssertionError("Check your code - did you round to 2 decimal places?")

In [54]:
''' Run the following hidden tests: you should get no errors'''

' Run the following hidden tests: you should get no errors'

In [55]:
''' Run the following hidden tests: you should get no errors'''

' Run the following hidden tests: you should get no errors'

### B Task 5

Now let's find the row that holds the most expensive $/year of life expectancy in `health_exp` and store it in a variable called `worst_place_to_live`.  Do do this we can use the function `.idxmax()`, this returns the index location of the maximum value. 

For instance:

```
data = pd.DataFrame({'a':[10,9,8,7,1000,5,4,3,2,1]})
data['a'].idxmax()
```
returns `4`

This location can then be used to *explicitly* index the original data. See `.loc` examples

In [56]:
health_exp.head()

   Year        Country  Spending_USD  Life_Expectancy  USD_year_life
0  1970        Germany       252.311             70.6       3.573810
1  1970         France       192.143             72.2       2.661260
2  1970  Great Britain       123.993             71.9       1.724520
3  1970          Japan       150.437             72.0       2.089403
4  1970            USA       326.961             70.9       4.611580

In [57]:
# find the country with the highest USD per year of life
# YOUR CODE HERE
worst_place_to_live = health_exp.loc[health_exp['USD_year_life'].idxmax()]
worst_place_to_live

Year                     2020
Country                   USA
Spending_USD        11859.179
Life_Expectancy          77.0
USD_year_life      154.015312
Name: 273, dtype: object

In [58]:

print(worst_place_to_live.shape)

(5,)

In [59]:
''' Run the following: you should get no errors'''
try:
    assert type(worst_place_to_live) == pd.core.series.Series
except AssertionError:
    raise AssertionError("worst_place_to_live should be a series containing the row of the country with the highest USD per year of life")

In [60]:
try:
    assert worst_place_to_live.shape == (5,)
except AssertionError:
    raise AssertionError("worst_place_to_live should be a series containing all the information about the country with the highest USD per year of life")

In [61]:
''' Run the following hidden tests: you should get no errors'''

' Run the following hidden tests: you should get no errors'

In [62]:
''' Run the following hidden tests: you should get no errors'''

' Run the following hidden tests: you should get no errors'

In [63]:
''' Run the following hidden tests: you should get no errors'''

' Run the following hidden tests: you should get no errors'

---
## Part C (3 points)

Create a function called `data_gen` that creates a pandas dataframe called `df` containing *excactly* the following data and return `df` from the function. 

 `|City | Lat | Lon
----|------ | ------ | ------
0|Washington DC   | 38.907192 | -77.036873
1|New York  | 40.712776 | -74.005974
2|Boston  | 42.360081 | -71.058884
3|Chicago  | 41.878113 | -87.629799

In [64]:

def data_gen():
    data = {
        'City': [
            'Washington DC', 
            'New York',
            'Boston',
            'Chicago'
            ],
        'Lat': [38.907192, 40.712776, 42.360081, 41.878113],
        'Lon': [-77.036873, -74.005974, -71.058884, -87.629799]
    }
    df_city = pd.DataFrame(data)
    return df_city  # Return the DataFrame


Your function should return a pandas dataframe object. Check that is does:

*Do not change cell below*

In [65]:
cities = data_gen()
cities

            City        Lat        Lon
0  Washington DC  38.907192 -77.036873
1       New York  40.712776 -74.005974
2         Boston  42.360081 -71.058884
3        Chicago  41.878113 -87.629799

In [66]:
"""Run the following: you should get no errors"""
try:
    assert type(cities) == pd.core.frame.DataFrame 
except AssertionError:
    raise AssertionError("Cities is not a DataFrame")

In [67]:
""" Run, checking contents """
try:
    assert cities.columns.to_list() == ['City','Lat','Lon']
except AssertionError:
    raise AssertionError("Columns should be 'City','Lat','Lon'")

In [68]:
""" Begining hidden tests """

' Begining hidden tests '

In [69]:
""" Begining hidden tests """

' Begining hidden tests '

In [70]:
""" Begining hidden tests """

' Begining hidden tests '

## Part D (5 points)
Create a function called `dist` that returns the euclidean distance between two points. 

Where euclidean distance is calculated as for coordinate pairs p and q:

$d(p,q) = \sqrt{(q_x-p_x)^2 + (q_y-p_y)^2}$

In [71]:
from math import sqrt

def dist(x1, y1, x2, y2):
   x_subtract = x1 - x2 
   y_subtract = y1 - y2
   x_square = (x_subtract)**2
   y_square = (y_subtract)**2
   sum = x_square + y_square
   euc_dist = sqrt(sum)
   return round(euc_dist, 3)

In [72]:
"""Run the following: you should get no errors"""
try:
    assert round(dist(x1=0,y1=0, x2=1,y2=1),3) == 1.414
except AssertionError:
    raise AssertionError("Make sure your function returns the euclidean distance")

In [73]:
"""Run the following: you should get no errors"""
try:
    assert round(dist(x1=-1,y1=-1, x2=1,y2=1),3) == 2.828
except AssertionError:
    raise AssertionError("Make sure your function returns the euclidean distance")

# Iterrows 
Iterating along rows of a dataframe can be challenging. One solution is to use `iterrows()`. This method allows us to:
```
df = pd.DataFrame([[1, 4],[2, 5],[3,6]] , columns=['A', 'B'])
df
   A  B
0  1  4
1  2  5
2  3  6
```

iterrows spits out two peices of information that we can use to access the data, the index location (row number), and the data from that row 
```
for row_number, row_data in df.iterrows():
    print(row_number)
0
1
2
```

We can access the data one row at a time.
```
for row_number, row_data in df.iterrows():
    print(row_data)
    
A    1
B    4
Name: 0, dtype: int64
A    2
B    5
Name: 1, dtype: int64
A    3
B    6
Name: 2, dtype: int64

```

Or if we want a single column of data we can:
```
for row_number, row_data in df.iterrows():
    print(row_data['B'])
    
4
5
6
```

This is the same things as the example above, but we are going to use `.loc` and access `df` by both row number and column name.  
```
for row_number, row_data in df.iterrows():
    print(df.loc[row_number,'B'])
    
4
5
6
```

Note if we want to store the output from iterrows in the same dataframe we need to access the row number and column on both sides of the assignment.
```
for row_number, row_data in df.iterrows():
    df.loc[row_number,"B2"] = df.loc[row_number,'B']**2
print(df)

   A  B    B2
0  1  4  16.0
1  2  5  25.0
2  3  6  36.0
```

## Part E (5 points)

Starting with df and using `iterrows` below create a third column C in `df` that is holds the value of columns `A` minus the values in `B`.

In [74]:
df = pd.DataFrame([[1, 4],[2, 5],[3,6]] , columns=['A', 'B'])

for row_number, row_data in df.iterrows():
    # YOUR CODE HERE
    df.loc[row_number, 'C'] = df.loc[row_number, 'A'] - df.loc[row_number, 'B']

print(df)

   A  B    C
0  1  4 -3.0
1  2  5 -3.0
2  3  6 -3.0

In [75]:
"""Run the following: you should get no errors"""
try:
    assert df.columns.to_list() == ['A', 'B', 'C']
except AssertionError:
    raise AssertionError("Check column names")

In [76]:
"""additional hidden tests"""

'additional hidden tests'

In [77]:
"""additional hidden tests"""

'additional hidden tests'

Using `.interrows()` and your `dist()` function from above, calculate the euclidean distance between Washington DC and all other cities (including DC itself). Store the output in a new column called `euc_dc`.

In [78]:
import numpy as np
def dist_DC(cities):
    '''Calculate the distance between all cities and DC, (including DC itself)
    Return all distances as a list '''
    # grab lat lon of washington dc
    Lat_dc = cities.loc[(cities.City == 'Washington DC'),'Lat']
    Lon_dc = cities.loc[(cities.City == 'Washington DC'),'Lon']
    
    # create placeholder for the euclidean distance measure
    cities['euc_dc'] = np.nan
    
    # create empty list to store distances
    for row_number, row_data in cities.iterrows():
        distance = dist(x1 = Lat_dc, y1 = Lon_dc, x2 = row_data['Lat'], y2 = row_data['Lon'])
        cities.loc[row_number, 'euc_dc'] = distance
    # YOUR CODE HERE
    return cities

In [79]:
# Dont edit this
# run dist_DC and store output  
euc_city = dist_DC(cities)
euc_city

/var/folders/zs/qg91ct2s3r1dh50y68w3rrf80000gn/T/ipykernel_65193/1104764104.py:9: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  euc_dist = sqrt(sum)
/var/folders/zs/qg91ct2s3r1dh50y68w3rrf80000gn/T/ipykernel_65193/1104764104.py:9: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  euc_dist = sqrt(sum)
/var/folders/zs/qg91ct2s3r1dh50y68w3rrf80000gn/T/ipykernel_65193/1104764104.py:9: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  euc_dist = sqrt(sum)
/var/folders/zs/qg91ct2s3r1dh50y68w3rrf80000gn/T/ipykernel_65193/1104764104.py:9: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  euc_dist = sqrt(sum)

            City        Lat        Lon  euc_dc
0  Washington DC  38.907192 -77.036873   0.000
1       New York  40.712776 -74.005974   3.528
2         Boston  42.360081 -71.058884   6.904
3        Chicago  41.878113 -87.629799  11.002

In [80]:
"""Run the following: you should get no errors"""

try:
    assert euc_city.columns.to_list() == ['City', 'Lat', 'Lon', 'euc_dc']
except AssertionError:
    raise AssertionError("Check column names")

In [81]:
try:
    assert euc_city.loc[0,'euc_dc'] == 0.0
except AssertionError:
    raise AssertionError("DC should be 0.0 degrees away from itself")

In [82]:
"""additional hidden tests"""

'additional hidden tests'

In [83]:
"""additional hidden tests"""

'additional hidden tests'

In [84]:
"""additional hidden tests"""

'additional hidden tests'

## Apply 

In this section we will try using the `apply` method, see [help here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html). 


To summarize, we can use the `apply` function to a dataframe `df`

```
df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])

df
   A  B
0  4  9
1  4  9
2  4  9
```

--------------------- 

We can then apply and function to the column values, for instance we can take the square root of all values:

```
import numpy as np
df.apply(np.sqrt)
     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0
```
or we can apply to a certain column by isolating it and store that output in a new column called C:
```
df['C'] = df['B'].apply(np.sqrt)
print(df)
   A  B    C
0  4  9  3.0
1  4  9  3.0
2  4  9  3.0
```
We can also apply our own functions in the same way 
```
from math import sqrt

# define a function to apply across row values
def my_sqr(x):
    return x**2

df['C'] = df['B'].apply(my_sqr)
```

## Part F (5 points)
In this section, use the apply and `my_square` functions to store the squared distance of `euc_dc` in a new columns called `euc_dc2`.

In [85]:
def my_square(x):
    return x**2

# create placeholder for the euclidean distance measure
#euc_city['euc_dc2'] = np.nan
# YOUR CODE HERE

euc_city['euc_dc2'] = euc_city['euc_dc'].apply(my_square)

print(euc_city)

            City        Lat        Lon  euc_dc     euc_dc2
0  Washington DC  38.907192 -77.036873   0.000    0.000000
1       New York  40.712776 -74.005974   3.528   12.446784
2         Boston  42.360081 -71.058884   6.904   47.665216
3        Chicago  41.878113 -87.629799  11.002  121.044004

In [86]:
"""Run the following: you should get no errors"""

try:
    assert euc_city.columns.to_list() == ['City', 'Lat', 'Lon', 'euc_dc','euc_dc2']
except AssertionError:
    raise AssertionError("You should now have only the columns 'City', 'Lat', 'Lon', 'euc_dc','euc_dc2' ")

In [87]:
try:
    assert euc_city.loc[0,'euc_dc2'] == 0.0
except AssertionError:
    raise AssertionError("DC should be 0.0 degrees away from itself")

In [88]:
"""additional hidden tests"""

'additional hidden tests'

In [89]:
"""additional hidden tests"""

'additional hidden tests'

In [90]:
"""additional hidden tests"""

'additional hidden tests'

## Part G (2 points)

We are doing some terrible things above...

Describe in your own words why euclidean distance should never be used with latitude and longitude.

euclidean distance should not be used with longitude and latitude because the earth is not flat and using coordinates doesn't give accurate distances between points.

YOUR ANSWER HERE